.wcem-messages{
    margin: 20px;
}

.reach{
    color: #fff;
    text-align: right;
}

.headings{
    background-color: red;
    width: 100%;
}

.reaching{
    color: #ffffff;
    background-color: red;
    text-align: left;
    padding: 1%;
    text-align: right;
}
